/*******************************************
				reservation_list
********************************************/
.content-full{
	margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 1200px;
    position: relative;
}
.reservation-step{
	width: 100%;
	border-bottom:2px solid #856f56;
	text-align: center;
	padding-bottom:30px;
}
.reservation-requirement-container{
}
.reservation-requirement{
	display: flex;
	gap:20px;
}
.reservation-requirement-list{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100px;
}